alabaster
appdirs
attrs
Babel
black
certifi
chardet
Click
doc8
docutils
idna
imagesize
importlib-metadata
Jinja2
MarkupSafe
more-itertools
packaging
pathspec
pbr
pluggy
py
Pygments
pyparsing
PySimpleGUI
pytest
pytz
regex
requests
restructuredtext-lint
rstcheck
six
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
stevedore
toml
typed-ast
urllib3
wcwidth
zipp
